/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.pagina {
    max-width: 12000px; /* ancho máximo */
    margin: auto;    /* centra horizontalmente */
}

/* Cabecera */
.cabecera {
    background-color: #2f3e46;
    color: white;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Para que los elementos bajen si no hay espacio */
    padding: 10px 30px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
}

.menu a {
    color: white;
    background-color: #c44a2b;
    padding: 10px 80px; /* Espaciado interno */
    transition: background 0.3s; /* Transición al pasar el raton */
    text-decoration: none;
    margin: 0px; /* Espaciado entre enlaces */
}

.menu a:hover {
    background-color: #a83f22;
}

/* Contenido principal */
.contenedor {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.articulos {
    flex: 3; /* Ocupa más espacio */
    padding: 20px; /* Espaciado interno */
}

.articulos article {
    margin-bottom: 20px; /* Espaciado entre artículos */
}

.articulos h2 {
    color: #222;
}

.lateral {
    flex: 1;
    background-color: #d77f2f;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.lateral img {
    width: 400px;
    height: 250px; 
    border-radius: 20px;
}

/* Pie de página */
.pie {
    background-color: #2f3e46;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    flex-wrap: wrap; /* Para que los elementos bajen si no hay espacio */
}

.redes img {
    width: 25px;
    margin-left: 10px;
}
