/* Centra en la página el texto del título */
h1 {
    text-align: center;
    font-family: Arial, sans-serif;
}

/* Da a todas las imágenes el mismo tamaño 50x50px */
img {
    width: 50px;
    height: 50px;
}

/* Utilizando clases y una regla de selección haz que todas las celdas con texto de la primera columna
tengan fondo rojo y letra blanca */
.primera {
    background-color: red;
    color: white;
    font-weight: bold;
}

/* Añadiendo sólo un id a la fila de la celda donde pone "Capacidad" y dando clase a las celdas con "GB" 
cambiar el tamaño de la letra, centrar el texto y poner el fondo gris */
#fila .gb {
    font-size: 24px;
    text-align: center;
    background-color: lightgray;
    font-weight: bold;
}

/* Añadiendo sólo un id a la fila que las contiene añade estilos a los elementos de la lista que están dentro de
esa fila para ponerles color de texto rojo */
#listas ul li {
    color: red;
    list-style-type: disc;
}

/* Utilizando un id aumenta el padding superior e inferior a la celda en la que pone "5 horas" y dale fondo amarillo */
#cinco {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: yellow;
}

/* Dar los estilos adecuados para poner un borde simple colapsado y centrar la tabla */
table {
    border: 1px solid black; /* borde de la tabla */
    border-collapse: collapse; /* colapsa los bordes de las celdas */
    margin: 20px auto; /* centra la tabla */
    text-align: center;
    font-family: Arial, sans-serif;
}

/* Aplica borde a todas las celdas */
th, td {
    border: 1px solid black; /* líneas visibles de columnas y filas */
    padding: 10px;
}

/* Dar color de fondo azul a todas las celdas que tiene colspan="2" o colspan="3" */
td[colspan="2"], td[colspan="3"], th[colspan="2"], th[colspan="3"] {
    background-color: #002fff; /* azul cielo */
}
