
*{
  box-sizing: border-box;
}
  .container {
   background-color: aqua;
   display:flex; 
   flex-direction:row;
   /* flex-wrap: wrap;  */
   justify-content: space-around;
   height:200px;
   margin:20px auto;
   padding: 10px; 
   width: 60%;
}
  .container div {
  background-color: red;
  border:1px solid black;
  height: 50px;
  width: 75px;
}
  